.addImageModalWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.imageDropzoneImage {
  max-height: 200px;
}

.imageWrapper {
  flex: 2;
  /* min-height: 200px; */
  align-items: center;
  text-align: center;
}

.imageDropzone {
  flex: 2;
  display: flex;
}

.addImageModalTextFields {
  color: blue;
  flex: 1;
}

.imageDropzoneText {
  text-align: center;
  display: flex;
  align-items: center;
}



