.compareTeamsWrapper{
  display:flex;
  flex-direction: column;
}

.compareTeamsHeaderWraper{
  flex:1;
  height:60px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border:solid black 1px;
}

.compareTeamsHeaderLeftTeam,.compareTeamsHeaderRightTeam{
  cursor:pointer;
  z-index:10000;
  flex:33%;
}
.compareTeamsLoading{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.compareTeamsHeaderScore{
  flex:33%;
}
.compareTeamsButtons{
  flex:1;
  align-items: center;
  justify-content: center;
  text-align: center;
      display: flex;
}

.compareTeamsButtonsButton{
  margin:10px;
  cursor:pointer;
  border:solid black 1px;
}

.compareTeamsButtonsButton[data-mode='true']{
  background:gray;
}

.compareTeamsButtonsButton span{
  padding:5px;

}

.compareTeamsMainWraper{
  display:flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border:solid black 1px;

}

.compareTeamsMainTeamStats{
  flex:50%;
  border:solid black 1px;

}

.compareTeamsCompareStatsWraper{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}