@import '../common/boxShadow';

.leagueItemsWraper{
  display:flex;
  flex-direction: row;
  margin: 5vw 5vh;
  width: 90vw;
}
.leagueItemWraper{
  display:flex;
  max-width:330px;
  flex-direction: column;
  margin:10px;
  padding:15px;
  background: #434B55;
  @apply --boxShadow;
}

.leagueItemWraper:hover{
  @apply --boxShadowHover;
}

.leagueItemWraper:active{
  @apply --boxShadowActive;
}

.leagueItemHeader{
  flex:1;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.leagueItemHeaderText{
  flex:7;
}
.leageItemImageWraper{
  flex:1;
}
.leagueItemImage{
  max-height:60px;
  max-width:60px;
}

.leagueItemTextWraper{
  display:flex;
  align-items: center;  
  margin-left: 15px;
  margin-right: 30px;
}
.leagueItemText{
  flex:33.3%;
  text-align:center;

}
.leagueItemText p{
  margin:0;
  margin-bottom:5px;
}

.leagueItemTextSubHeader{
  font-size: 1.2em;
  color:blue;
}
.leagueItemTextHeader{
  font-size: 1em;
}
