
.imageWrapper {
  display: flex;
  justify-content: center;
  width:100%;
  height:100%;

}

.imageGrid {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
    height:100%;
}

.imageCell {
  position: relative;
  width: calc((100vw * 1/3) - (4*25px-2px));
  height: calc((100vw * 1/3) - (4*25px-2px));
  overflow: hidden;
  flex: 0 0 calc((100vw * 1/3) - (4*25px+1px));
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);


  margin: 25px;
  cursor: pointer;
}

.imageCell:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.imageCell img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 150%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imageCell img.portrait {
  width: 100%;
  height: auto;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .imageCell {
    width: calc((100vw) - (4*25px-2px));
    height: calc((100vw) - (4*25px-2px));
    flex: 0 0 calc((100vw) - (4*25px+1px));
    margin: 5px;
  }
 }

@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .imageCell {
    width: calc((100vw * 1/2) - (4*25px-2px));
    height: calc((100vw * 1/2) - (4*25px-2px));
    flex: 0 0 calc((100vw * 1/2) - (4*25px+1px));
    margin: 5px;
  }
 }

@media (min-width:801px)  {
 /* tablet, landscape iPad, lo-res laptops ands desktops */
   .imageCell {
    width: calc((100vw * 1/3) - (4*25px-2px));
    height: calc((100vw * 1/3) - (4*25px-2px));
    flex: 0 0 calc((100vw * 1/3) - (4*25px+1px));
    margin: 20px;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }