@import '../common/colors';
@import '../common/typography';
@import '../common/boxShadow';

.navigation {
  display: flex;
  padding: 0 28px;
  height: 6vh;
  background: white;
}

.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0vw 4vh;
  color: rgba(0,0,0,0.7);
}

.item:hover {
  color: rgba(0,0,0,1);
}

.logo {
  
}

.active {
  
}

.BackButtonWrapper{
    position: absolute;
    top: 0;
    height: 6vh;
    display: flex;
    align-items: center;
    left: 10px;
}
.BackButton{
  height:25px;
  cursor:pointer;
  @apply --boxShadowSVG;
}

.BackButton:hover{
    @apply --boxShadowHoverSVG;
}

.BackButton:active{
    @apply --boxShadowActiveSVG;
}