@import '../common/colors';
@import '../common/typography';

.navigation {
  display: flex;
  padding: 0 28px;
  height: 6vh;
  background: white;
}

.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0vw 4vh;
  color: rgba(0,0,0,0.7);
}

.item:hover {
  color: rgba(0,0,0,1);
}

.logo {
  
}

.active {
  
}
